 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.4), rgba(41,46,51,0.4)), url("images/fdfdfdf.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 183px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  text-transform: none;
  margin: 72px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  margin: 68px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 99px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 125px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 30px 60px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 271px;
}

.u-section-3 .u-list-1 {
  width: 1142px;
  margin: -62px -1px 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px);
  grid-gap: 22px 22px;
  grid-auto-columns: calc(20% - 17.6px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
    min-height: 216px;
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-auto-columns: calc(33.333333333333336% - 14.666666666666666px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    grid-auto-columns: calc(50% - 11px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/bfbe3f209aeb3c8a0d41bb391ae551da05bb34e7aadd5579a5ea24e6aca8cbf45f20e8f773eda3fe48bf125cd32fc9d09e2c957903288a0a6fbe7b_1280.jpg");
  background-position: 50% 50%;
  margin: 71px 96px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/6c29e1b487bf7ee659c3c7beadf578abdcd009e501d8c9f198702f5ecc4e6efb78dd0aa94ab358c5255e1fdd61809bf06e9b2f44af4dd4904ec210_1280.jpg");
  background-position: 50% 50%;
  margin: -596px auto 0 71px;
}

.u-section-4 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/c77d00e4bb4a32512f8833b63a1a98ffe2e80fbfce961825a281d1cfd271a7413843a4056b7cb6556f7dbaf058e6651bbffe97eaa9420f432c68f5_1280.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 156px;
}

.u-section-4 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -419px auto 0 20px;
}

.u-section-4 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-4 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-right: 60px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 30px;
  }

  .u-section-4 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-left: 171px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 52px;
  }

  .u-section-4 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 20px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 13px;
  }

  .u-section-4 .u-shape-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-4 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -508px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-left: -19px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 167px;
    height: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-4 .u-image-1 {
    width: 293px;
    height: 293px;
  }

  .u-section-4 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -308px;
  }

  .u-section-4 .u-image-3 {
    width: 240px;
    height: 240px;
    margin-left: -14px;
  }

  .u-section-4 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -370px;
  }

  .u-section-4 .u-shape-2 {
    width: 101px;
    height: 101px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 158px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3.75rem;
  width: 403px;
  margin: 46px auto;
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 854px;
}

.u-section-6 .u-slider-1 {
  width: 949px;
  min-height: 831px;
  margin: 23px auto 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-image-1 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  margin: 23px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-6 .u-image-3 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-6 .u-image-4 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-6 .u-image-5 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-slider-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-slider-1 {
    width: 540px;
    min-height: 537px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 514px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    height: 190px;
  }

  .u-section-6 .u-image-3 {
    height: 190px;
  }

  .u-section-6 .u-image-4 {
    height: 190px;
  }

  .u-section-6 .u-image-5 {
    height: 190px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 158px;
}

.u-section-7 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3.75rem;
  width: 267px;
  margin: 46px auto;
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 686px;
}

.u-section-8 .u-list-1 {
  width: 1082px;
  margin: 44px auto 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 522px;
  grid-gap: 26px 26px;
  grid-auto-columns: calc(33.3333% - 17.3333px);
}

.u-section-8 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-8 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/food1.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 19px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-8 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/food2.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 24px;
}

.u-section-8 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/food3.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 24px;
}

.u-section-8 .u-image-4 {
  width: 147px;
  height: 147px;
  background-image: url("images/food4.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-8 .u-text-8 {
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 24px;
}

.u-section-8 .u-image-5 {
  width: 147px;
  height: 147px;
  background-image: url("images/food5.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-8 .u-text-10 {
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-6 {
  padding: 30px 24px;
}

.u-section-8 .u-image-6 {
  width: 147px;
  height: 147px;
  background-image: url("images/food6.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-11 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-8 .u-text-12 {
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-7 {
  padding: 30px 24px;
}

.u-section-8 .u-image-7 {
  width: 147px;
  height: 147px;
  background-image: url("images/food7.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-13 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-8 .u-text-14 {
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-8 {
  padding: 30px 24px;
}

.u-section-8 .u-image-8 {
  width: 147px;
  height: 147px;
  background-image: url("images/food8.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-15 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-8 .u-text-16 {
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-8 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-9 {
  padding: 30px 24px;
}

.u-section-8 .u-image-9 {
  width: 147px;
  height: 147px;
  background-image: url("images/food9.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-17 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-8 .u-text-18 {
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    width: 940px;
    margin-top: 109px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 17.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
  }

  .u-section-8 .u-image-1 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 27px;
    margin-bottom: -132px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.999975000000001px);
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
  }

  .u-section-8 .u-image-1 {
    margin-top: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 19px;
    margin-bottom: 0;
  }

  .u-section-8 .u-image-2 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 27px;
  }

  .u-section-8 .u-image-4 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 27px;
  }

  .u-section-8 .u-image-5 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 27px;
  }

  .u-section-8 .u-image-6 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-12 {
    margin-top: 27px;
  }

  .u-section-8 .u-image-7 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-14 {
    margin-top: 27px;
  }

  .u-section-8 .u-image-8 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-16 {
    margin-top: 27px;
  }

  .u-section-8 .u-image-9 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-18 {
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    width: 540px;
    margin-top: 198px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -184px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 27px;
    margin-bottom: -168px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    width: 340px;
    margin-top: 172px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-2 {
    margin-bottom: -321px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-12 {
    margin-bottom: -15px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-14 {
    margin-bottom: -15px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-16 {
    margin-bottom: -15px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-18 {
    margin-bottom: -15px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 158px;
}

.u-section-9 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3.75rem;
  width: 478px;
  margin: 46px auto;
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 796px;
}

.u-section-10 .u-list-1 {
  width: 1068px;
  margin: 51px auto 60px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 22px) calc(33.3333% - 22px) calc(33.3333% - 22px);
  min-height: 661px;
  grid-gap: 33px 33px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 25px 28px;
}

.u-section-10 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/res1.jpeg");
  background-position: 50% 50%;
  margin: 22px auto 0 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 19px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.0625rem;
  margin: 17px 0 0;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 25px 28px;
}

.u-section-10 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/res2.jpeg");
  background-position: 50% 50%;
  margin: 22px auto 0 0;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-10 .u-text-5 {
  font-size: 1.0625rem;
  margin: 17px 0 0;
}

.u-section-10 .u-text-6 {
  font-weight: 700;
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 25px 28px;
}

.u-section-10 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/res3.jpeg");
  background-position: 50% 50%;
  margin: 22px auto 0 0;
}

.u-section-10 .u-text-7 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 19px 0 0;
}

.u-section-10 .u-text-8 {
  font-size: 1.0625rem;
  margin: 17px 0 0;
}

.u-section-10 .u-text-9 {
  font-weight: 700;
  font-size: 1.0625rem;
  margin: 19px 0 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-10 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-list-1 {
    width: 940px;
    margin-top: 109px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-list-1 {
    width: 720px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-list-1 {
    width: 540px;
    margin-top: 198px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-list-1 {
    width: 340px;
    margin-top: 172px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 158px;
}

.u-section-11 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3.75rem;
  width: 478px;
  margin: 46px auto;
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 813px;
}

.u-section-12 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 59px;
  grid-template-rows: auto;
}

.u-section-12 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 692px;
}

.u-section-12 .u-list-item-1 {
  background-image: none;
}

.u-section-12 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-12 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-2 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-12 .u-list-item-2 {
  background-image: none;
}

.u-section-12 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-12 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-4 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-12 .u-list-item-3 {
  background-image: none;
}

.u-section-12 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-12 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-6 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-12 .u-repeater-1 {
    min-height: 375px;
  }

  .u-section-12 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-12 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-12 .u-list-item-3 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 158px;
}

.u-section-13 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3.75rem;
  width: 478px;
  margin: 46px auto 60px;
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 901px;
}

.u-section-14 .u-list-1 {
  width: 1061px;
  margin: 76px auto 60px;
}

.u-section-14 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 19.3333px) calc(33.3333% - 19.3333px) calc(33.3333% - 19.3333px);
  min-height: 738px;
  grid-gap: 29px 29px;
  grid-auto-columns: calc(33.3333% - 19.3333px);
}

.u-section-14 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-14 .u-container-layout-1 {
  padding: 0 25px 28px;
}

.u-section-14 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/b48b2f63-bf3d-565f-e21f-ba78ce7ec740.jpeg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-14 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 12px 0 0;
}

.u-section-14 .u-text-2 {
  font-size: 1.0625rem;
  margin: 14px 0 0;
}

.u-section-14 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-14 .u-container-layout-2 {
  padding: 0 25px 28px;
}

.u-section-14 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/0ba96dd5-ce8e-cd60-85c0-feac2f3f2613.jpeg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-14 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-14 .u-text-4 {
  font-size: 1.0625rem;
  margin: 14px 0 0;
}

.u-section-14 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-14 .u-container-layout-3 {
  padding: 0 25px 28px;
}

.u-section-14 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/aaf2b4a8-0759-76d3-2ac7-edc0d1a78eaf.jpeg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-14 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-14 .u-text-6 {
  font-size: 1.0625rem;
  margin: 14px 0 0;
}

.u-section-14 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-14 .u-container-layout-4 {
  padding: 0 25px 28px;
}

.u-section-14 .u-image-4 {
  width: 147px;
  height: 147px;
  background-image: url("images/27c0d9a1-aa21-7ce6-7e38-c5df46b918d6.jpeg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-14 .u-text-7 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-14 .u-text-8 {
  font-size: 1.0625rem;
  margin: 14px 0 0;
}

.u-section-14 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-14 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-list-1 {
    width: 940px;
  }

  .u-section-14 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 19.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 19.3333px));
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-list-1 {
    width: 720px;
  }

  .u-section-14 .u-repeater-1 {
    grid-auto-columns: calc(50% - 14.499975000000001px);
    grid-template-columns: repeat(2, calc(50% - 14.499975000000001px));
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-list-1 {
    width: 540px;
  }

  .u-section-14 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-list-1 {
    width: 340px;
  }

  .u-section-14 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 158px;
}

.u-section-15 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3.75rem;
  width: 478px;
  text-transform: uppercase;
  margin: 46px auto;
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 552px;
}

.u-section-16 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px 0;
}

.u-section-16 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
  grid-gap: 10px 10px;
}

.u-section-16 .u-list-item-1 {
  background-image: none;
}

.u-section-16 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-16 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-16 .u-text-1 {
  margin: 21px 9px 0 0;
}

.u-section-16 .u-text-2 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-16 .u-list-item-2 {
  background-image: none;
}

.u-section-16 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-16 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-16 .u-text-3 {
  margin: 21px 163px 0 0;
}

.u-section-16 .u-text-4 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-16 .u-list-item-3 {
  background-image: none;
}

.u-section-16 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-16 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-16 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-16 .u-text-6 {
  font-size: 1rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-16 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-text-1 {
    margin-right: 0;
  }

  .u-section-16 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-text-3 {
    margin-right: 0;
  }

  .u-section-16 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-repeater-1 {
    min-height: 710px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-16 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}